nav {
    display    : flex;
    align-items: center;
    background : $nav-background;
    height     : 100px;
    width      : 100%;
    box-sizing : border-box;
    box-shadow : adjust-color($nav-background, $alpha: -0.76) 0px 7px 29px 0px;

    .logo-text {
        color          : $primary;
        font-size      : 35px;
        line-height    : 80px;
        padding        : 0px 30px;
        font-weight    : bold;
        text-decoration: none;
    }

    .logo-image {
        height     : 50px;
        width      : auto;
        margin-left: 20px;
    }


    ul {
        margin-left : auto;
        margin-right: 20px;

        li {
            display    : inline-block;
            line-height: 80px;
            margin     : 0 5px;

            a {
                color          : $nav-text;
                font-size      : 20px;
                text-transform : uppercase;
                padding        : $button-padding;
                border-radius  : $button-border-radius;
                text-decoration: none;
            }

            a:hover,
            .cur {
                background-color: $primary;
                transition      : .5s;
                color           : $nav-background;
                box-shadow      : $dark-button-shadow;
            }
        }
    }

}

.footer {
    display        : flex;
    justify-content: center;
    align-items    : center;

    background: $nav-background;
    height    : 100px;
    width     : 100%;
    box-sizing: border-box;
    margin-top: 30px;

    color: $nav-text;
}