body {
    width: 100vw;
    // height: 100vh;
    margin: 0;
}


#visualizations {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .visual {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: auto;
    }


    #adj-matrix {

    }

    #node-link {

    }
}