@import "variables", "nav";

body {
    height : 100vh;
    display: grid;
    grid-template-areas:
        'nav'
        'header'
        'vis'
        'footer';
    grid-template-columns: auto;
    grid-template-rows   : auto auto 1fr auto;
    overflow-y           : scroll;
}

.background {
    fill: #eee;
}

line {
    stroke: #fff;
}

nav {
    grid-area: nav;
}

#heading {
    display    : flex;
    flex-flow  : column;
    align-items: stretch;
    margin     : 1% 4%;
    text-align : start;
    margin-top : 50px;
    grid-area  : header;

    >p:first-of-type {
        margin     : 0px;
        width      : 80%;
        min-width  : 350px;
        font-weight: 300;
    }

    input {
        margin: 1% 0%;
    }

    #file-selector {
        width   : 0.1px;
        height  : 0.1px;
        opacity : 0;
        overflow: hidden;
        position: absolute;
        z-index : -1;

        &+label {
            font-size       : 1.15em;
            font-weight     : 700;
            padding         : $button-padding;
            margin          : 30px 0px;
            align-self      : flex-start;
            color           : white;
            background-color: $background;
            display         : inline-block;
            cursor          : pointer;
            transition      : all .2s ease;
            border-radius   : $button-border-radius;
            box-shadow      : $button-shadow;
        }

        &:hover+label,
        &+label:hover {
            background-color: $background-hover;
        }

        &:focus+label,
        &+label:focus {
            outline   : none;
            box-shadow: 0 0 0 5px $background-focus;
        }

    }

    #selectors {
        position: -webkit-sticky;
        position: sticky;
        top     : 50px;

        display         : flex;
        flex-direction  : column;
        justify-content : center;
        align-items     : center;
        padding         : 20px 50px;
        margin          : 10px 0px;
        background-color: white;
        box-shadow      : $button-shadow;
        border-radius   : 12px;

        * {
            margin: 0px 10px;
        }

        #split-options {
            display       : flex;
            flex-direction: row;

            width          : 100%;
            justify-content: center;
            align-items    : center;

            #matrix-options {
                display        : flex;
                width          : 100%;
                justify-content: center;
                align-items    : center;
                border-right   : 1px solid $shadow
            }

            #node-link-options {
                display        : flex;
                width          : 100%;
                justify-content: center;
                align-items    : center;

            }
        }

        #universal-options,
        #timeline,
        #timelineCanvas {
            width: 100%;
        }

        #timeline {
            margin-top: 20px;
            position  : relative;

            svg {
                position: absolute;
                top     : 0px;
                left    : 0px;
                z-index : -1;
            }
        }
    }
}

#visualizations {
    height               : 100%;
    display              : grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom        : 100px;
    grid-area            : vis;

    .visual {
        position: relative;
        width   : 100%;
        height  : 100%;
        overflow: auto;
    }


    #adj-matrix {
        overflow: hidden;
    }

    #node-link {}
}

#node-link-legend {
    font-size: 10px;

    .color-dot {
        display      : inline-block;
        width        : 0.8em;
        height       : 0.8em;
        border-radius: 0.8em;
        margin-right : 0.5em;
        margin-left  : 1em;
    }
}

.footer {
    grid-area: footer;
}


.filter-container { 
    .filter-title {
        border-bottom: 1px solid $shadow;
    }
    .filter-left-right-split {  
        display: grid;
        grid-template-columns: auto auto;
        padding: 0.5em;

        .filter-button {
            display: block;
            margin-left: auto !important;
            margin-right: auto !important;
            text-align: center;
        }

        .filter-function-wrapper {
            font-size: 10px;
            font-family: JetBrains mono, mono;
    
            .filter-function-sig {
                font-style: italic;
                color: #666;
                background-color: #ccc;
            }
    
            .filter-function-body {
                font-size: inherit;
                font-family: inherit;
                border: none;
                color: inherit;
                outline: none;
                width: 300px;
                background-color: #ccc;
            }
    
            .filter-function-error {
                background-color: #fcc;
                color: #a00;
            }
        }
    }
}