@import "variables","nav";

.background {
    fill: #eee;
}

line {
    stroke: #fff;
}

#heading {
    display    : flex;
    flex-flow  : column;
    align-items: stretch;
    margin     : 1% 4%;
    text-align : start;

    #header {
        display: inline-block;

        img {
            display: inline-block;
            height : 50px;
            width  : 50px;
        }

        h1 {
            display   : inline-block;
            margin    : 0px 10px;
            margin-top: 50px;
            color     : $primary-text;
        }
    }

    >p:first-of-type {
        margin     : 0px;
        width      : 80%;
        min-width  : 350px;
        font-weight: 300;
    }

    input {
        margin: 1% 0%;
    }

    #file-selector {
        width   : 0.1px;
        height  : 0.1px;
        opacity : 0;
        overflow: hidden;
        position: absolute;
        z-index : -1;

        &+label {
            font-size       : 1.15em;
            font-weight     : 700;
            padding         : 10px 20px;
            margin          : 30px 0px;
            align-self      : flex-start;
            color           : white;
            background-color: $background;
            display         : inline-block;
            cursor          : pointer;
            transition      : all .2s ease;
            border-radius   : 12px;
            box-shadow      : $shadow 0px 7px 29px 0px;
        }

        &:hover+label,
        &+label:hover {
            background-color: $background-hover;
        }

        &:focus+label,
        &+label:focus {
            outline   : none;
            box-shadow: 0 0 0 5px $background-focus;
        }

    }

    #selectors {
        position: -webkit-sticky;
        position: sticky;
        top     : 50px;

        display         : flex;
        flex-direction: column;
        justify-content : center;
        align-items     : center;
        padding         : 20px 50px;
        margin          : 10px 0px;
        background-color: white;
        box-shadow      : $shadow 0px 7px 29px 0px;
        border-radius   : 12px;

        * {
            margin: 0px 10px;
        }
        #split-options {
            display: flex;
            flex-direction: row;

            width: 100%;
            justify-content: center;
            align-items: center;

            #matrix-options {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                border-right: 1px solid $shadow
            }
            #node-link-options {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;

            }
        }
        #universal-options {
            width: 100%;
        }
        #big-slider-container {
            width: 100%;

            #first-day-slider {
                width: 100%
            }
        }
    }
}
#visualizations {
    height               : 100%;
    display              : grid;
    grid-template-columns: 1fr 1fr;

    .visual {
        position: relative;
        width   : 100%;
        height  : 100%;
        overflow: auto;
    }


    #adj-matrix {}

    #node-link {}
}

#node-link-legend {
    font-size: 10px;

    .color-dot {    
        display: inline-block;
        width: 0.8em;
        height: 0.8em;
        border-radius: 0.8em;
        margin-right: 0.5em;
        margin-left: 1em;
    }
}