@import "variables", "nav";

body {
    height : 100vh;
    display: grid;
    grid-template-areas:
        'nav'
        'header'
        'vis'
        'footer';
    grid-template-columns: auto;
    grid-template-rows   : auto auto 1fr auto;
    overflow-y           : scroll;
}

.background {
    fill: #eee;
}

line {
    stroke: #fff;
}

nav {
    grid-area: nav;
}

#heading {
    display    : flex;
    flex-flow  : column;
    align-items: stretch;
    margin     : 1% 4%;
    text-align : start;
    margin-top : 50px;
    grid-area  : header;

    >p:first-of-type {
        margin     : 0px;
        width      : 80%;
        min-width  : 350px;
        font-weight: 300;
    }

    input {
        margin: 1% 0%;
    }

    #file-selector {
        width   : 0.1px;
        height  : 0.1px;
        opacity : 0;
        overflow: hidden;
        position: absolute;
        z-index : -1;

        &+label {
            font-size       : 1.15em;
            font-weight     : 700;
            padding         : $button-padding;
            margin          : 30px 0px;
            align-self      : flex-start;
            color           : white;
            background-color: $background;
            display         : inline-block;
            cursor          : pointer;
            transition      : all .2s ease;
            border-radius   : $button-border-radius;
            box-shadow      : $button-shadow;
        }

        &:hover+label,
        &+label:hover {
            background-color: $background-hover;
        }

        &:focus+label,
        &+label:focus {
            outline   : none;
            box-shadow: 0 0 0 5px $background-focus;
        }

    }

    #selectors {
        position: -webkit-sticky;
        position: sticky;
        top     : 50px;

        display         : flex;
        flex-direction  : column;
        justify-content : center;
        align-items     : center;
        padding         : 20px 50px;
        margin          : 10px 0px;
        background-color: white;
        box-shadow      : $button-shadow;
        border-radius   : 12px;

        // * {
        //     margin: 0px 10px;
        // }

        #split-options {
            display       : flex;
            flex-direction: row;

            width          : 100%;
            justify-content: center;
            align-items    : center;

            label {
                margin-right: 0.5em;
                margin-left: 2em
            }

            #matrix-options {
                display        : flex;
                width          : 100%;
                justify-content: center;
                align-items    : center;
                border-right   : 1px solid $shadow
            }

            #node-link-options {
                display        : flex;
                width          : 100%;
                justify-content: center;
                align-items    : center;
                text-align: right;
            }
        }

        #universal-options,
        #timeline,
        #timelineCanvas {
            width: 100%;
        }

        #universal-options {
            display: grid;
            grid-template-columns: 1fr 2fr;

            #time-frame {
                align-self: end;

                .deemphasise {
                    color: #888;
                    margin: 0 0.5em;
                }
            }
        }

        #timeline {
            margin-top: 20px;
            position  : relative;

            svg {
                position: absolute;
                top     : 0px;
                left    : 0px;
                z-index : -1;
            }
        }
    }
}

#visualizations {
    height               : 100%;
    display              : grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom        : 100px;
    grid-area            : vis;

    .visual {
        position: relative;
        width   : 100%;
        height  : 100%;
        overflow: hidden;
    }


    #adj-matrix {
        overflow: hidden;
    }

    #node-link {}
}

#node-link-legend {
    font-size: 10px;

    .color-dot {
        display      : inline-block;
        width        : 0.8em;
        height       : 0.8em;
        border-radius: 0.8em;
        margin-right : 0.5em;
        margin-left  : 1em;
    }
}

.footer {
    grid-area: footer;
}


.filter-container { 
    .filter-title {
        border-bottom: 1px solid $shadow;
    }
    .filter-left-right-split {  
        display: flex;
        padding: 0.5em;

        .filter-left-panel {
            align-self: center;


            label {
                margin-right: 0.5em
            }
        }
        .filter-button-container {
            align-self: center;
         
        }

        .filter-function-wrapper {
            position: relative;
            font-size: 10px;
            font-family: JetBrains mono, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: auto auto;
            // background-color: #ccc;
            margin: 0 1em;
            // line-height: 1.5;
    
            .filter-function-sig {
                padding-right: 0.5em;
                font-family: JetBrains mono, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
                user-select: none;
            }
    
            .filter-function-body-wrapper {
                position: relative;
                display: inline-block;
                place-self: start;

                .filter-highlighted-text {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    padding: 0;
                    z-index: -10;
                    overflow: hidden;

                    code {
                        font-family: JetBrains mono, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
                    }
                }   

                .filter-function-body-input {
                    font-size: inherit;
                    font-family: inherit;
                    border: none;
                    color: inherit;
                    outline: none;
                    padding: 0;
                    margin: 0;
                    background-color: transparent;
                    color: transparent;
                    caret-color: black;
                    line-height: 1.55;
                    overflow: hidden;
                    width: 500px;
                }

                .filter-function-body-input::selection {
                    background-color: #b3d4fc;
                    color: black;
                }
            }
            
    
            .filter-function-error {
                background-color: #fcc;
                color: #a00;
                grid-column: 1 / span 2;
            }
        }
    }
}